h1 {
  text-align: center; /* Center the heading horizontally */
  margin-bottom: 30px; 
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f5f0e1; /* Beige background */
  color: #4d423c; /* Brown text color */
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

nav {
  background-color: #4d423c; /* Dark brown navigation background */
  color: #fff;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #d2b48c; /* Light brown border */
  padding: 15px;
  text-align: left;
}

th {
  background-color: #4d423c; /* Dark brown header background */
  color: #fff;
}

form {
  max-width: 300px;
  margin: 0 auto; /* Center the form horizontally */
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the form vertically */
}


input[type="text"], input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #d2b48c; /* Light brown border */
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #d2b48c; /* Light brown button color */
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c3a080; /* Slightly darker brown on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
  nav a {
      margin: 0 10px;
      font-size: 16px;
  }

  table {
      font-size: 14px;
  }

  form {
      max-width: 100%;
  }
}
